@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    background-color: rgb(162, 255, 162);
}
.container{
    display: flex;
    align-items: center;
    margin-top: 22px;
    background-color: rgb(0, 155, 0);
    border-radius: 15px;
    width: 95%;
    height: 95vh;
    display: flex;
    flex-direction: column; /* Cambiamos a dirección de columna para centrar verticalmente */
    align-items: center; /* Centramos horizontalmente */
}

.description{
    margin-left: 50px;
    text-align: center; /* Centramos el texto dentro de .description */
}

.description h1{
    color: rgb(0, 116, 0);
    font-size: 40px;
    font-family: 'Anton', sans-serif; 
    user-select: none;
    width: 300px;
    height: 52px;
    border-radius: 20px;
    background-color: rgb(157, 217, 157);
    font-weight: 100;
}
.parrafo{
    color: rgb(191, 230, 191);
    font-size: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.INICIAR{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(157, 217, 157);
    margin-top: 40px;
}
.INICIAR a{
    vertical-align: middle;
    text-decoration: none;
    font-family: 'calibri black';
    font-size: 25px;
    color: rgb(0, 116, 0);
}
.INICIAR a:hover{
    color:  rgb(157, 217, 157);
}
.INICIAR :hover{
    background-color: rgb(0, 116, 0);
    width: 120px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(157, 217, 157);
}

#imageFont{
    margin-top: 30px;
    width: 160px;
    height: 148px;
}
    @media (max-width: 500px) {
        .parrafo{
            color: rgb(191, 230, 191);
            font-size: 14px;
            font-family: 'Kdam Thmor Pro', sans-serif;
    }
    .description h1{
        width: 200px;
        height: 35px;
        font-size: 25px;
        border-radius: 15px;
    }   
}
@media (max-width: 290px) {
    .description h1{
        width: 160px;
        height: 30px;
        font-size: 20px;
        border-radius: 10px;
    }   
}